<div class="main">
  <div class="workflow-designer">
    <sqd-designer
      theme="light"
      [undoStackSize]="10"
      [definition]="definition"
      [toolboxConfiguration]="toolboxConfiguration"
      [stepsConfiguration]="stepsConfiguration"
      [validatorConfiguration]="validatorConfiguration"
      [controlBar]="true"
      [selectedStepId]="selectedStepId"
      [isReadonly]="isReadonly"
      [isToolboxCollapsed]="isToolboxCollapsed"
      [isEditorCollapsed]="isEditorCollapsed"
      [areEditorsHidden]="false"
      [globalEditor]="globalEditor"
      [stepEditor]="stepEditor"
      (onReady)="onDesignerReady($event)"
      (onDefinitionChanged)="onDefinitionChanged($event)"
      (onSelectedStepIdChanged)="onSelectedStepIdChanged($event)"
      (onIsToolboxCollapsedChanged)="onIsToolboxCollapsedChanged($event)"
      (onIsEditorCollapsedChanged)="onIsEditorCollapsedChanged($event)"
    >
    </sqd-designer>

    <ng-template #globalEditor let-editor>
      <h2>Global Editor</h2>

      <h3>Value</h3>
      <mat-form-field class="full-width">
        <input
          matInput
          type="number"
          [value]="editor.definition.properties.value"
          (input)="updateProperty(editor.definition.properties, 'value', $event, editor.context)"
        />
      </mat-form-field>
    </ng-template>

    <ng-template #stepEditor let-editor>
      <h2>Step Editor</h2>

      <h3>Name</h3>
      <mat-form-field class="full-width">
        <input matInput type="text" [value]="editor.step.name" (input)="updateName(editor.step, $event, editor.context)" />
      </mat-form-field>

      <h3>Value</h3>
      <mat-form-field class="full-width">
        <input
          matInput
          type="number"
          [value]="editor.step.properties.value"
          (input)="updateProperty(editor.step.properties, 'value', $event, editor.context)"
        />
      </mat-form-field>
      <!--  <mat-tab-group>-->
      <!--    <mat-tab label="Basic">-->
      <!--    </mat-tab>-->
      <!--    <mat-tab label="Details">-->
      <!--    </mat-tab>-->
      <!--  </mat-tab-group>-->
    </ng-template>
  </div>

  <div class="workflow-editor">
    <button mat-raised-button color="primary" (click)="saveDefinitionClicked()">
      Save definition
    </button>
    &nbsp;
    <button mat-raised-button color="primary" (click)="loadDefinitionClicked()">
      Load definition
    </button>
    <br/><br/>
    <button mat-raised-button color="primary" (click)="toggleReadonlyClicked()">
      {{ isReadonly ? 'Enable editing' : 'Disable editing' }}
    </button>
    &nbsp;
    <button mat-raised-button color="primary" (click)="toggleSelectedStepClicked()">
      {{ selectedStepId ? 'Unselect' : 'Select first' }}
    </button>
    &nbsp;
<!--    <button mat-raised-button color="primary" (click)="toggleToolboxClicked()">-->
<!--      {{ isToolboxCollapsed ? 'Show toolbox' : 'Hide toolbox' }}-->
<!--    </button>-->
<!--    &nbsp;-->
<!--    <button mat-raised-button color="primary" (click)="toggleEditorClicked()">-->
<!--      {{ isEditorCollapsed ? 'Show editor' : 'Hide editor' }}-->
<!--    </button>-->
<!--    &nbsp;-->
    Is valid: <strong>{{ isValid }}</strong>
    <br/>
    <mat-form-field class="full-width">
      <textarea style="resize: none;" matInput rows="52" readonly>{{ definitionJSON }}</textarea>
    </mat-form-field>
  </div>
</div>
