/* You can add global styles to this file, and also import other style files */
body,
input,
textarea,
button {
  font: 13px/1.3em Arial, Verdana, Serif;
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: #2c18df;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/*textarea {*/
/*  font-size: 9pt !important;*/
/*  line-height: 1.2em !important;*/
/*}*/

.full-width {
  width: 100%;
}

.main {
  display: flex;
  width: 100%;
  height: 100vh;
}

.workflow-designer {
  flex: 4;
}

.workflow-editor {
  flex: 1;
  background: lightgray;
  text-align: center;
  padding: 10px;
}

/* Customize */
.mat-tab-label {
  min-width: auto !important;
}

.sqd-designer-angular {
  width: 100%;
  height: 100%;
}

.sqd-editor {
  padding: 10px;
}

.sqd-toolbox {
  width: 200px !important;
}

.sqd-toolbox-filter,
.sqd-toolbox-group-title,
.sqd-toolbox-item {
  width: 180px !important;
}
